@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Multi Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
 
  <link href="https://dogdc.blob.core.windows.net/dogdc/pawFavicon.png" rel="pawicon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Carousel Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(https://dogdc.blob.core.windows.net/dogdc/koiraheinikossav.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Tervetuloa <span>koirapäiväkotiin</span></h2>
              <p class="animate__animated animate__fadeInUp">Koirapäiväkotimme on tarkoitettu perheen tärkeimille karvakaverielle. Arjen kiireessä herää huoli oman jaksaminen lisäksi koiran jaksamisesta. Me pidämme huolta koirastasi sinun ollessa töissä. Me aktivoimme koiraasi, katso aktiviteettimme!</p>
              <a href="utility" class="btn-get-started animate__animated animate__fadeInUp scrollto">Lue lisää aktiviteeteista</a>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(https://dogdc.blob.core.windows.net/dogdc/isomääräPentujav.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Retkiä koirallesi</h2>
              <p class="animate__animated animate__fadeInUp">Monipuoliset retkemme tarjoavat koirallesi mahdollisuuden tutustua niin paikallisiin metsäpolkuihin kuin Ranskan koirille tuottamaan Champawniin.</p>
              <a href="/Utility/GetUtilitiesByCategory/1" class="btn-get-started animate__animated animate__fadeInUp scrollto">Tutustu retkiin</a>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(https://dogdc.blob.core.windows.net/dogdc/SenioritRyhmäv.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Koirapäiväkoti rauhoittaa sinun ja koirasi arjen</h2>
              <p class="animate__animated animate__fadeInUp">Koirapäiväkoti on koiran omistajille, jotka eivät tahdo omien koirien olevan päiviä yksin kotona. Esimerkiksi, jos koirasi kärsii eroahdistuksesta on koirapäiväkoti sen koiran pelastus.</p>
              <a href="Utility/GetUtilitiesByCategory/2" class="btn-get-started animate__animated animate__fadeInUp scrollto">Tutustu hoitohin</a>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Carousel -->

  <main id="main">

    <!-- ======= Why Dog Daycare Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Miksi</h2>
          <p>Koirapäiväkoti</p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
             Koirapäiväkotimme on tarkoitettu perheille, joissa koira on enemmän kuin lemmikki. Me suhtaudumme koiriin kuin perheenjäseniimme. Koirapäiväkotimme tarjoaa koirien omistajille samanlaisen päiväkotipalvelun kuin kunta tarjoaa lapsille, mutta meillä kaikki tehdään pieni karvakaveri pääkohteena.
            </p>
            <p>
             Koirapäiväkoti on samanlainen kuin ihmisten päiväkoti, mutta koirille.
             Tarkoituksemme on lievittää koirien eroahdistusta, kehittää sosiaalisia taitoja ja lisätä koiran sekä omistajan onnellisuutta.
             Koira tuodaan koirapäiväkotiin aamulla ennen kuin omistaja menee töihin ja haetaan töiden jälkeen kotiin.
            </p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Päiväkodissamme ryhmäkoot ovat pieniä ja jokainen koira ja sen mieltymykset tunnetaan. Toimimme sitouttamalla asiakkaamme aina jäseniksi lukukausi kerrallaan.
            </p>
            <a href="Home/Koirapaivakoti" class="btn-learn-more">Lue lisää koirapäiväkodista!</a>
          </div>
        </div>

      </div>
    </section><!-- End Why Dog Day Care Section -->

    <!-- ======= What We Offer Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Retket</strong> Valikoimassamme on moneen makuun sopivia retkiä koirallesi.</p>
              <a href="Utility/GetUtilitiesByCategory/1">Lue lisää &raquo;</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hoidot</strong> Takaamme koirasi kokonaisvaltaisen hyvinvoinnin erilaisilla hoidoilla.</p>
              <a href="Utility/GetUtilitiesByCategory/2">Lue lisää &raquo;</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Teemapäivät</strong> Juhlapyhän saapuessa varaa koirallesi paikka mitä parhaisiin karkeloihin!</p>
              <a href="Utility/GetUtilitiesByCategory/4">Lue lisää &raquo;</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Kuvaukset</strong> Ikuista koirasi joko potrettiin tai ölymaalaukseen kauttamme.</p>
              <a href="Utility/GetUtilitiesByCategory/5">Lue lisää &raquo;</a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End What We Offer Section -->

    <!-- ======= DayCare Groups Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-5 align-items-stretch video-box" style='background-image: url("https://dogdc.blob.core.windows.net/dogdc/villakoirapentup.jpg");' data-aos="" data-aos-delay="100">
            @*<a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>*@
          </div>

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

            <div class="content">
              <h3>Koirapäiväkotimme jakautuu <strong>kolmeen eri ryhmään</strong></h3>
              <p>
               Jotta koirasi saa sille tarvittavan määrän koulutusta, hoitoa ja ohjausta omassa päiväkotiryhmässään, jaamme päiväkotiryhmät iän mukaan kolmeen eri kategoriaan. 
              </p>
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Juniorit <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                    <p>
                     Penturyhmämme on tarkoitettu 8 viikkoa täyttäneistä pennuista kaksi vuotiaisiin pentuihin. Kehityksen mukaan voimme katsoa etenemistä isompien ryhmään tilannekohtaisesti jo aikaisemmin.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Aikuiset <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Aikuisten ryhmässä aktivoidaan koiraa niin, että hän pääsee ulkoilemaan ja leikkimään päivittäin.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Seniorit <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                     Senioriryhmä on tarkoitettu yli kahdeksan vuotiaille koirille. Ryhmässä mennään koiran ehdoilla rauhassa leikkien ja päiväunia kunnioittaen.
                    </p>
                  </div>
                </li>

              </ul>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End DayCare Group Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Palvelut</h2>
          <p>Katso suosituimmat palvelumme</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
                @*<link href="https://dogdc.blob.core.windows.net/dogdc/pawFavicon.png" rel="pawicon">*@
              <div class="icon"><i class="pawicon"></i></div>
              <h4><a href="Utility/Details/9">Agility</a></h4>
              <p>	Maailman parhainta agilityrataa käyttämällä takaamme koirallesi onnistuneen kokemuksen. Meillä myös pentujen ryhmät: minkä nuorena oppii, sen vanhana taitaa!</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="paw icon"></i></div>
              <h4><a href="Utility/Details/10">Maalaushetki</a></h4>
              <p>Valmistamme luonnonmukaisilla väreillä muistoja koirasi kanssa juuri sinulle.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="Utility/Details/11">Champawn</a></h4>
              <p>Lennämme koirasi kanssa yksityiskoneella Ranskan Champagne-laaksoon maistelemaan paikallisten tuottajien koirille tekemää champawnia. Kätevä kesäretkikohde Ranskan Rivieralta käsin.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="Utility/Details/12">Kielikurssi</a></h4>
              <p>Puhuuko shibainusi jo japania? Ei hätää, meillä hän oppii hetkessä! Kauttamme hoituvat koiran kielikurssit niin japaniksi, saksaksi, ranskaksi kuin mandariinikiinaksikin.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="Utility/Details/19">Perhekuvaus</a></h4>
              <p>Taltioi koko perheen kuva onnistuneesti yhdessä ammattilaistemme kanssa. Tästä vaikka isoäidille joululahja tai joulukorttipohja!</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="Utility/Details/20">Maalari</a></h4>
              <p>Anna ammattitaiteilijan ikuistaa paras ystäväsi entisaikojen aatelisten tavoin öljyvärein. Ole edelläkävijä, tee varaus jo tänään!</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Thick Bar Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Kiinnostuitko palveluistamme</h3>
          <p> Koirapäiväkotien kysyntä on kasvanut nopeammin kuin odotettu. Yhdysvalloissa 70% koiranomistajista sanoo käyttävänsä arjessaan koirapäiväkotia. Tämä luku on rantautumassa myös Suomeen. Me voimme sanoa olevamme koko Suomen tasokkain koirapäiväkoti. Tarjoamme jokaiselle koiralle kodinomaiset puitteet, oman ruokavalion, lenkityksen, erilaisia aktiviteetteja, kursseja sekä retkiä. Tyytyväisyystakuumme takaa, että koirasi viihtyy meillä ja voit huoletta varata palveluitamme.</p>
          <a class="cta-btn" href="Home/Koirapaivakoti">Katso lisätietoja</a>
        </div>

      </div>
    </section><!-- End Thick Bar Section -->

    <!-- ======= Picture Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Tutustu asiakkaisiimme</h2>
          <p>Koirat</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Kaikki</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="https://dogdc.blob.core.windows.net/dogdc/JackrusselPinkkiv.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="https://dogdc.blob.core.windows.net/dogdc/JackrusselPinkkiv.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="https://dogdc.blob.core.windows.net/dogdc/KaksiCorgiav.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="https://dogdc.blob.core.windows.net/dogdc/KaksiCorgiav.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="https://dogdc.blob.core.windows.net/dogdc/kaksiKoiraaHymyileev.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="https://dogdc.blob.core.windows.net/dogdc/kaksiKoiraaHymyileev.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="https://dogdc.blob.core.windows.net/dogdc/mopsiViltissäv.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="https://dogdc.blob.core.windows.net/dogdc/mopsiViltissäv.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="https://dogdc.blob.core.windows.net/dogdc/mustaStaffiv.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="https://dogdc.blob.core.windows.net/dogdc/mustaStaffiv.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="https://dogdc.blob.core.windows.net/dogdc/mäyräkoiraPahvilaatikossav.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="https://dogdc.blob.core.windows.net/dogdc/mäyräkoiraPahvilaatikossav.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="https://dogdc.blob.core.windows.net/dogdc/Kindergartenv.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="https://dogdc.blob.core.windows.net/dogdc/Kindergartenv.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="https://dogdc.blob.core.windows.net/dogdc/koiraMetsässäv.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="https://dogdc.blob.core.windows.net/dogdc/koiraMetsässäv.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="https://dogdc.blob.core.windows.net/dogdc/KoiraSilmälaseilla.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="https://dogdc.blob.core.windows.net/dogdc/KoiraSilmälaseilla.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Picture Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Hintamme</h2>
          <p>Tutustu jäsenhintoihimme</p>
        </div>

        <div class="row align-items-center">

          <div class="col-lg-4">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <h3>Penturyhmän jäsenyys</h3>
              <h4>2800€<span>kuukaudessa</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Sisältää pentujen ruokinnan viidesti päivässä.</li>
                <li><i class="bx bx-check"></i> Sosiaalistamisharjoitukset.</li>
                <li><i class="bx bx-check"></i> Peruskäskyjen alkeisopinnot.</li>
                <li class="na"><i class="bx bx-x"></i> <span>Kielikylpyalkeet valitsemallesi kielelle</span></li>
                <li class="na"><i class="bx bx-x"></i> <span>Erikoisretket</span></li>
              </ul>
              <a href="Utility" class="get-started-btn">Lisähinnasta kielialkeet ja retket</a>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="box featured" data-aos="zoom-in" data-aos-delay="100">
              <h3>Aikuiset</h3>
              <h4>2200€<span>kuukaudessa</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Ruoat Michelin-kokin valmistamana.</li>
                <li><i class="bx bx-check"></i> Ulkoilutus, leikitys ja riehat.</li>
                <li><i class="bx bx-check"></i> Lisähinnasta erikoisretket.</li>
                <li><i class="bx bx-check"></i> Lisähinnasta erikoismuistot.</li>
                <li><i class="bx bx-check"></i> Lisähinnasta muotokuvat muistoksi.</li>
              </ul>
              <a href="Utility/GetUtilitiesByCategory/1" class="get-started-btn">Tutustu retkiimme</a>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <h3>Seniorit</h3>
              <h4>2100€<span>kuukaudessa</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Ruoat Michelin-kokin valmistamana.</li>
                <li><i class="bx bx-check"></i> Taatut päiväunihetket.</li>
                <li><i class="bx bx-check"></i> Leikit aktiivisuustason mukaan.</li>
                <li><i class="bx bx-check"></i> Paljon rapsutuksia ja lämpöisiä hetkiä.</li>
                <li><i class="bx bx-check"></i> Lisähinnasta lisätekemistä.</li>
              </ul>
              <a href="Utility/GetUtilitiesByCategory/5" class="get-started-btn">Ihana muisto koirastasi</a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Tahdotko koirasi meille hoitoon?</h2>
          <p>Yhteydenottolomake</p>
        </div>

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  @*<i class="bx bx-map"></i>*@
                  <h3>Osoitteemme</h3>
                  <p>Linnanrakentajantie 12, 00810 Helsinki </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                @*  <i class="bx bx-envelope"></i>*@
                  <h3>Lähetä meille sähköpostia</h3>
                  <p>info@koirapaivakoti.com<br>otayhteytta@koirapaivakoti.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
              
                  <h3>Soita meille</h3>
                  <p>+358 5589 55488 55<br>+358 6678 254445 41</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
                      <form asp-action="Contact">
@*            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
*@              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nimesi" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Sähköpostisi" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Aihe" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Viesti" required></textarea>
              </div>
              <br />
              <div class="text-center"><button type="submit">Lähetä</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Koirapäiväkoti</h3>
              <p class="pb-3"><em>Voitte ottaa meihin yhteyttä päästäksenne odotuslistallemme.</em></p>
              <p>
                Linnanrakentajantie 12, <br>
                 00810, Helsinki<br><br>
                <strong>Puhelin:</strong> +358 5589 55488 55<br>
                <strong>Sähköposti:</strong> info@koirapaivakoti.com<br>
              </p>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Hyödylliset linkit</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="Utility/GetUtilitiesByCategory/5">Kuvaukset</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Utility/GetUtilitiesByCategory/3">Aktiviteetit</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Utility/GetUtilitiesByCategory/1">Retket</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Utility/GetUtilitiesByCategory/2">Hoidot</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Utility/GetUtilitiesByCategory/4">Teemapäivät</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Palvelumme</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="Utility/Details/5">Kynisenleikkuu</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Utility/Details/6">Turkin trimmaus</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Utility/Details/7">Hieronta</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Utility/Details/8">Aromaterapia</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Utility/Details/12">Kielikurssi</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Uutiskirjeemme</h4>
            <p>Voitte tilata uustiskirjeemme, jossa päivitämmä kuukausittain päiväkodimme kuulumisia.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Tilaa">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="credits">
       @* Designed by*@ <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>