<!DOCTYPE html>
<html lang="en">

<body>
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <br />
        <h2>Henkilökunta & palaute</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="https://dogdc.blob.core.windows.net/dogdc/Kindergartenv.jpg" alt="">
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Ryhmät</h3>
              <ul>
                <li><strong>Juniorit</strong>: 10 pentua</li>
                <li><strong>Aikuiset</strong>: 12 aikuista</li>
                <li><strong>Seniorit</strong>: 14 senioria</li>
                <li><strong>Verkkosivu</strong>: <a href="#">www.koirapaivakoti.com</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Ryhmien vastaavat ohjaajat</h2>
              <p>
               Jokaisella ryhmällä on oma vastuuohjaaja, joka on koulutettu eläinhoitaja. Tämän lisäksi on joka ryhmässä avustavissa tehtävissä apuohjaajia. Penturyhmässä on ohjaajia eniten, jotta pentujen turvallinen kehitys on taattu 100%:sti. Aikuisten ja senioreiden ryhmissä on vähemmän ohjaajia, mutta näissä ryhmissä ohjaajilla on valmiudet lisäkouluttaa koiraasi enemmän.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
   <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Tiimimme</h2>
          <p>Tutustu koko tiimiimme</p>
        </div>

        <div class="row">

          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <img src="https://dogdc.blob.core.windows.net/dogdc/tiiminaip.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Annika</h4>
                  <span>Penturyhmän ohjaaja ja kielikylpyopettaja</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.1s">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <img src="https://dogdc.blob.core.windows.net/dogdc/tiimimiesp.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Jonas</h4>
                  <span>Aikuisten ryhmän ohjaaja ja retkikoordinaattori</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
            <div class="member" data-aos="zoom-in" data-aos-delay="300">
              <img src="https://dogdc.blob.core.windows.net/dogdc/tiiminainenportailp.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Minea</h4>
                  <span>Senioriryhmän ohjaaja ja aromaterapeutti</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.3s">
            <div class="member" data-aos="zoom-in" data-aos-delay="400">
              <img src="https://dogdc.blob.core.windows.net/dogdc/tiimikiharamp.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Wilhelm</h4>
                  <span>Michelin-kokki, joka vastaa kaikista ruoka-annoksista</span>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->
     <!-- ======= Feedback Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Asiakaspalaute</h2>
          <p>Asiakkaat sanovat</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="https://dogdc.blob.core.windows.net/dogdc/koiraBanaanipyjamassaKeltainenp.jpg" class="testimonial-img" alt="">
                  <h3>H. Virtanen</h3>
                  <h4>Pitkäaikainen asiakas</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    "Päiväkoti toimii, koska näin voin huoletta jättää koirani hoitoon työpäivän ajaksi."
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End 1st Feedback item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="https://dogdc.blob.core.windows.net/dogdc/CorgiPentuOranssip.jpg" class="testimonial-img" alt="">
                  <h3>S. Hakkarainen</h3>
                  <h4>Uusi asiakas</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    "Päiväkotiryhmät ovat tarpeeksi pieniä ja omasta koirastani on tullut rohkeampi muiden koirien kanssa."
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End 2nd Feedback item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="https://dogdc.blob.core.windows.net/dogdc/coco.JPG" class="testimonial-img" alt="">
                  <h3>P. Kantelinen</h3>
                  <h4>Usean koiran omistaja. pitkäaikainen asiakas</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                   "Olemme olleet avovaimoni kanssa äärettömän tyytyväisiä koirapäiväkodintoimivuuteen. Meillä on kaksi koiraa. Toinen koiramme on senioriryhmässä ja toinen junioriryhmässä. He molemmat pääsevät sosialisoimaan päivittäin aktiivisesti ja pienempi koiramme on tullut paljon rohkeammaksi."
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End 3rd FeedBack item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="https://dogdc.blob.core.windows.net/dogdc/koiraKukkaSuussap.jpg" class="testimonial-img" alt="">
                  <h3>O. Kuikka</h3>
                  <h4>Asiakas</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Koirallanni oli paha eroahdistus ja tilanne alkoi olemaan toivoton, koska naapurini eivät ymmärtäneet. Nyt naapurirauhakin on muodostunut ja elämänlaatumme on parantunut suuresti. 
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End 4th FeedBack item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="https://dogdc.blob.core.windows.net/dogdc/KaksiKoiraap.jpg" class="testimonial-img" alt="">
                  <h3>J. Suoyrjö</h3>
                  <h4>Asiakas</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    "Olin aluksi todella skeptinen koko koirapäiväkoti-idealle. Koitin kuitenkin naapurin suosituksesta ja olen äärimmäisen tyytyväinen! Molemmat koirani ovat koirapäiväkodissa ja en voisi kuvitellakaan jättäväni niitä työpäivän ajaksi yksin kotiin. He ovat aina onnensa kukkuloilla, kun tuon heidät aamulla päiväkotiin." 
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End 5th Feedback item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Feedback Section -->
     <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Kysymykset</h2>
          <p>Eniten kysytyt kysymykset</p>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-5">
            <i class="bx bx-help-circle"></i>
            <h4>Voinko vain tuoda koirani koirapäiväkotiin?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Sinun tulee olla kuukausijäsenemme, jotta voit tuoda koirasi meille hoitoon. Saatuasi kuukausijäsenpaikan, olet oikeutettu tuomaan koirasi meille hoitoon jokaisena arkipäivänä.
            </p>
          </div>
        </div><!-- End F.A.Q Item nro 1 -->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-5">
            <i class="bx bx-help-circle"></i>
            <h4>Mitä jos koirallani on jokin erikoisruokavalio?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Michelin-kokkimme valmistaa jokaiselle koiralle omat annokset. Kokkimme on tietoinen jokaisen koiran mieltymyksistä sekä erikoisruokavaatimuksista. Tämä on yksi osa siitä, että jokainen asiakas eli koira on meillä oma yksilönsä.
            </p>
          </div>
        </div><!-- End F.A.Q Item nro 2-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-5">
            <i class="bx bx-help-circle"></i>
            <h4>Uskallanko liittyä kuukausijäseneksi?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Sitoutuessasi kuukausijäseneksi on sinulla ja koirapäiväkodilla 14 vuorokauden oikeus purkaa sopimus, mikäli koirasi ei sovellu koirapäiväkodin asiakkaaksi tai oma elämäntilanteesi muutuu yhtäkkisesti.
            </p>
          </div>
        </div><!-- End F.A.Q Item nro 3-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="col-lg-5">
            <i class="bx bx-help-circle"></i>
            <h4>Mitä jos minulla on useampi koira?</h4>
          </div>
          <div class="col-lg-7">
            <p>
             Ilmoittautuessasi jonoon jäsenyyden saamiseksi, kerro montako koiraa sinulla on ja minkä ikäisiä he ovat. On mahdollista saada kaikki omat koirat koirapäiväkotiin saatuasi oikeuden jäsenyyteen.
            </p>
          </div>
        </div><!-- End F.A.Q Item nro 4-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
          <div class="col-lg-5">
            <i class="bx bx-help-circle"></i>
            <h4>Miten koiran päivä yleensä menee päiväkodissa?</h4>
          </div>
          <div class="col-lg-7">
            <p>
             Esimerkkipäivänä koira tuodaan aamulla hoitoon, jossa hänelle tarjoillaan aamuopala. Tämän jälkeen on aika ulkoilla ja sitä seuraa päiväunet. Päiväunien jälkeen on lounasaika, jonka jälkeen on ohjelmassa aktiviteetti. Omistaja tulee hakemaan koiran sen jälkeen.
            </p>
          </div>
        </div><!-- End F.A.Q Item nro 5-->

      </div>
    </section><!-- End Frequently Asked Questions Section -->


  <!-- ======= Footer ======= -->
 <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Koirapäiväkoti</h3>
              <p class="pb-3"><em>Voitte ottaa meihin yhteyttä päästäksenne odotuslistallemme.</em></p>
              <p>
                Linnanrakentajantie 12, <br>
                 00810, Helsinki<br><br>
                <strong>Puhelin:</strong> +358 5589 55488 55<br>
                <strong>Sähköposti:</strong> info@koirapaivakoti.com<br>
              </p>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Hyödylliset linkit</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="Utility/GetUtilitiesByCategory/5">Kuvaukset</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Utility/GetUtilitiesByCategory/3">Aktiviteetit</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Utility/GetUtilitiesByCategory/1">Retket</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Utility/GetUtilitiesByCategory/2">Hoidot</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Utility/GetUtilitiesByCategory/4">Teemapäivät</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Palvelumme</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="Utility/Details/5">Kynisenleikkuu</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Utility/Details/6">Turkin trimmaus</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Utility/Details/7">Hieronta</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Utility/Details/8">Aromaterapia</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Utility/Details/12">Kielikurssi</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Uutiskirjeemme</h4>
            <p>Voitte tilata uustiskirjeemme, jossa päivitämmä kuukausittain päiväkodimme kuulumisia.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Tilaa">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="credits">
       @* Designed by*@ <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>