@model DogDC.Models.Pet

@{
    ViewData["Title"] = "Edit";
}
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            @*<li>Muokkaa</li>
            <li>Lemmikki</li>*@
        </ol>
        <h2>Muokkaa lemmikin tietoja</h2>

    </div>
</section><!-- End Breadcrumbs -->
@*<h4>Muokkaa lemmikin tietoja</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nimi</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label">Ikä</label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diet" class="control-label">Ruokavalio</label>
                <input asp-for="Diet" class="form-control" />
                <span asp-validation-for="Diet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Breed" class="control-label">Rotu</label>
                <input asp-for="Breed" class="form-control" />
                <span asp-validation-for="Breed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupId" class="control-label">Ryhmä</label>
                <select asp-for="GroupId" class="form-control">
                    <option value="1">Pennut</option>
                    <option value="2">Aikuiset</option>
                    <option value="3">Seniorit</option>
                </select>
            </div>
            <div class="form-group">
                <input type="hidden" id="CustomerId" name="CustomerId" class="form-control" value="@ViewBag.CustomerId"></input>
            </div>
            <div class="form-group">
                <label asp-for="BlobUrl" class="control-label">Lemmikin kuva (url)</label>
                <input asp-for="BlobUrl" class="form-control" />
                <span asp-validation-for="BlobUrl" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Tallenna" class="btn btn-primary" />
            </div>
            <br />
            <div>
                @{
                    if (ViewBag.UserIsAdmin == 1)
                    {
                        <a class="btn btn-light" asp-action="IndexAdmin">Takaisin</a>
                    }
                    else
                    {
                        <a class="btn btn-light" asp-action="Index">Takaisin</a>
                    }
                }
            </div>
        </form>
    </div>
</div>
<div class="row">
        <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">
                  <img src="https://dogdc.blob.core.windows.net/dogdc/JackrusselPinkkiv.jpg" width="40" height="600"  alt="">
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
