@model DogDC.Models.Utility

@{
    ViewData["Title"] = "Details";
}
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Portfolio Details - Multi Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

</head>

<!-- ======= Top Bar ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <br />
        <h2>Palvelun tiedot</h2>

    </div>
</section><!-- End Top Bar -->

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nimi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Palvelun kuvaus
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Hinta
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price) €
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-light" asp-controller="Calendar" asp-action="Create">Varaa tästä</a>
    <br />
    <br />
    @{
        if (ViewBag.UserIsAdmin == 1)
        {
                <a asp-action="Edit" asp-route-id="@Model?.Id">Muokkaa</a>
        
            }
            }
        <a asp-action="Index">Takaisin</a>

</div>
<!--TÄSSÄ OLISI MÄYRÄKOIRAN KUVA-->
<div class="row">
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">
                            <img src="https://dogdc.blob.core.windows.net/dogdc/mäyräkoiraPahvilaatikossavleikattu.jpg" @*width="400" height="500"*@ alt="">
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
